@CHARSET "UTF-8";

body {
	font-size: 90%;
}

/* ヘッダー */
div.header {
	background-color: #35414f;
	margin: -8px -8px 0 -8px;
	height: 45px;
	font-weight:bold;
	color:#e1e463;
}

div.footer {
	background-color: #495460;
	font-weight: bold;
	color: #e1e463;
	text-align: center;
}

/* 更新情報の表示場所 */
div.updateinfo {
	font-size: 70%;
	text-align: right;
}

div.contentsEdit {
	width: 100%;
}

table.headerGrid {
	width: 100%;
}

.headerColumnLeft {
	font-size: 120%;
	width: 30%;
}

.headerColumn {
	width: 40%;
}

.headerColumnRight {
	width: 30%;
	text-align: right;
}

div.main {
	padding-top: 5px;
}

.contactEditDialogGrid {
	cellpadding: 5px;
}

.contactEditDialogGrid.ui-panelgrid>*>tr,
.contactEditDialogGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

table.twiGrid1 {
	width: 100%;
}

table.twiGrid1 .logo {
	width: 10%;
}

table.twiGrid1 .pgLeft {
	width: 20%;
}

table.twiGrid1 .pgCenter {
	width: 50%;
}

table.twiGrid1 .pgRight {
	width: 25%;
}

/* ラベルとコンテンツが一緒になっているテーブル。線あり */
table.tableGrid {
	margin-left: auto;
	margin-right: auto;
}

table.tableGrid .tableLabel {
	width: 30%;
	background-color: #35414f;
	font-weight:bold;
	color:#e1e463;
}

table.tabInnerLink {
	margin: 10px;
}

div.loginForm {
	text-align: center;
}