@CHARSET "UTF-8";

body {
	font-size: 90%;
}

div.header {
	background-color: #F2F5A9;
	margin: -8px -8px 0 -8px;
}

table.headerGrid {
	width: 100%;
}

.headerColumnLeft {
	font-size: 120%;
	width: 30%;
}

.headerColumn {
	width: 40%;
}

.headerColumnRight {
	width: 30%;
	text-align: right;
}

div.main {
	padding-top: 5px;
}

.contactEditDialogGrid {
	cellpadding: 5px;
}

.contactEditDialogGrid.ui-panelgrid>*>tr,
.contactEditDialogGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

table.twiGrid1 {
	width: 100%;
}

.logo {
	width: 10%;
}

.pgLeft {
	width: 20%;
}

.pgCenter {
	width: 50%;
}

.pgRight {
	width: 25%;
}